<div>
    <%= render "shared/search_form" %>
</div>

<% if @search_flights.empty? %>
  <div>
    Available flights will appear here
  </div>
<% else %>
  <%= form_with url: new_booking_url, method: :get do |form|%>
    <%= form.collection_radio_buttons :flight_id, @search_flights, :id, :info do |b| %>
      <div>
        <%= b.radio_button %>
        <%= b.label %>
      </div>
    <% end %>
      <%= form.hidden_field :passenger_num, value: @passenger_num %>
    <%= form.submit "Book flight" %>
  <% end %>
<% end %>
