<%= form_with url: "/flights", method: :get do |form| %>

    <%= form.collection_select :departure_airport_id, Airport.order(:name), :id, :code %>
    to
    <%= form.collection_select :arrival_airport_id, Airport.order(:name), :id, :code %>
    Passengers:
    <%= form.select :passenger_num, 1..4 %>
    Departing on
    <%= form.select :departure_date, Time.current.to_date..Time.current.advance(years: +0.5).to_date %>
  <%= form.submit "Search" %>
<% end %>


<% if @search_flights.empty? %>
  <div>
    Available flights will appear here
  </div>
<% else %>
  <% @search_flights.each do |f| %>
    <div>
      From
      <%= f.departure_airport_id %>
      to
      <%= f.arrival_airport_id %>
      on
      <%= f.departure_date %>
      at
      <%= f.departure_time.strftime("%H:%M") %>

      Arrival at
    <%= (f.departure_time + f.duration).strftime("%H:%M") %>
    </div>
  <% end %>
<% end %>
