<%= form_with url: "/flights", method: :get do |form| %>

    <%= form.collection_select :departure_airport_id, Airport.order(:name), :id, :code %>
    to
    <%= form.collection_select :arrival_airport_id, Airport.order(:name), :id, :code %>
    Passengers:
    <%= form.select :passenger_num, 1..4 %>
    Departing on
    <%= form.select :departure_date, Time.current.to_date..Time.current.advance(years: +0.5).to_date %>
  <%= form.submit "Search" %>
<% end %>


<% if @search_flights.empty? %>
  <div>
    Available flights will appear here
  </div>
<% else %>

  <%= form_with model: @booking do |form|%>
    <% @search_flights.each do |flight| %>

      <div>
        <%= form.radio_button :flight, flight.id, checked: false %>
        <%= form.label :flight %>

        From
        <%= flight.departure_airport_id %>
        to
        <%= flight.arrival_airport_id %>
        on
        <%= flight.departure_date %>
        at
        <%= flight.departure_time.strftime("%H:%M") %>
        Arrival at
      <%= (flight.departure_time + flight.duration).strftime("%H:%M") %>
      <%= form.hidden_field :passenger_num, value: @passenger_num %>
      </div>
    <% end %>
    <%= form.submit "Book flight" %>
  <% end %>
<% end %>
