<div>
    <%= render "shared/search_form" %>
</div>

<div>
    <%= @flight.info %>.
</div>

<div>
    Your Flight ID is <%= params[:flight_id] %>.
</div><br />

<p>Passenger info:</p>
    <%= form_with model: @booking, :html => {:id => "passenger"} do |f|%>
        <% params[:passenger_num].to_i.times do %>

            <%= f.fields_for :passengers, @booking.passengers.build do |p| %>
                <div id="passenger-field" data-controller="passenger" data-passenger-target="template" style="display:flex; margin:15px">
                    <div>
                        <%= p.label :name %>
                        <%= p.text_field :name, placeholder: "John Doe" %>
                    </div>
                    <div>
                        <%= p.label :email %>
                        <%= p.email_field :email, placeholder: "email@domain.com" %>
                    </div>
                    <button data-controller="passenger" data-passenger-target="remove" type="button" id="remove" data-action="passenger#remove">Remove passenger</button>
                </div>
                    <template data-controller="passenger" >
                        <div id="passenger-field" data-passenger-target="template" style="display:flex; margin:15px">
                            <div>
                                <%= p.label :name %>
                                <%= p.text_field :name, placeholder: "John Doe" %>
                            </div>
                            <div>
                                <%= p.label :email %>
                                <%= p.email_field :email, placeholder: "email@domain.com" %>
                            </div><br />
                            <button data-controller="passenger" data-passenger-target="remove" type="button" id="remove" data-action="passenger#remove">Remove passenger</button>
                        </div>
                    </template>
                </div>
            <% end %>
        <%= f.hidden_field :flight_id, value: params[:flight_id] %>
    <% end %>
    <div data-controller="passenger">
        <button data-passenger-target="add" data-action="passenger#add" type="button">Add passenger</button>
    </div><br />
    <%= f.submit "Confirm Booking" %>
<% end %>
