<div>
    <%= render "shared/search_form" %>
</div>

<div>
    <%= Flight.find(@booking.flight_id).info %>
</div><br />
<div>
    <% @booking.passengers.each_with_index do |b, idx| %>
        <div>
            <%= "Passenger #{idx + 1}." %><br />
            <%= b.name %><br />
            <%= b.email %>
        </div><br />
    <% end %>
</div>
